.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-view .list-cell:selected {
    -fx-background-color: rgba(0, 255, 255, 0.35);
    -fx-text-fill: black;
    -fx-border-color: #0ff;
    -fx-border-width: 1;
    -fx-border-radius: 4;
}
