.title-pane {
  -fx-background-image: url("file:src/main/resources/com/mjfelecio/beatsync/images/title_screen_bg.png");
  -fx-background-size: cover;
  -fx-alignment: center;
}

.start-button {
  -fx-background-color: #4caf50;
}

.setting-button {
  -fx-background-color: #4caf50;
}
